<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel = "stylesheet" href="css/style.css">

</head>
<body>

<h3>Choose your interest</h3>
<div style="position: relative;	left :40px;">
<div class="brightness"><a href="/course_disc/1"><img src="images/1.jpg" alt="Pineapple" width="300" height="300"></a></div>
<div class="brightness"><a href="/course_disc/2"><img  src="images/2.jpg" alt="Pineapple" width="300" height="300"></a></div>
<div class="brightness"><img  src="images/3.jpg" alt="Pineapple" width="300" height="300"></div>
<div class="brightness"><img  src="images/9.jpg" alt="Pineapple" width="300" height="300"></div>
<div class="brightness"><img  src="images/5.jpg" alt="Pineapple" width="300" height="300"></div>
<div class="brightness"><img  src="images/6.jpg" alt="Pineapple" width="300" height="300"></div>
<div class="brightness"><img  src="images/7.jpg" alt="Pineapple" width="300" height="300"></div>
<div class="brightness"><img  src="images/8.jpg" alt="Pineapple" width="300" height="300"></div>
<div class="brightness"><img  src="images/4.jpg" alt="Pineapple" width="300" height="300"></div>
<div class="brightness"><img  src="images/10.jpg" alt="Pineapple" width="300" height="300"></div>
</div>

</body>
</html>
